{% extends 'index.html' %}

{% block 'conteudo' %}
<div class="container">
    <div class="page-inner">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Detalhes do Colaborador</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <strong>Nome Completo:</strong>
                            <p>{{ colaborador.nome_completo }}</p>
                        </div>
                        <div class="mb-3">
                            <strong>Matrícula:</strong>
                            <p>{{ colaborador.mat }}</p>
                        </div>
                        <div class="mb-3">
                            <strong>Ramal:</strong>
                            <p>{{ colaborador.ramal }}</p>
                        </div>
                        <div class="mb-3">
                            <strong>Email:</strong>
                            <p>{{ colaborador.email }}</p>
                        </div>
                        <div class="mb-3">
                            <strong>Direção:</strong>
                            <p>{{ colaborador.direcao }}</p>
                        </div>
                        <div class="mb-3">
                            <strong>Gerência:</strong>
                            <p>{{ colaborador.gerencia }}</p>
                        </div>
                        <div class="mb-3">
                            <strong>Coordenação:</strong>
                            <p>{{ colaborador.coordenacao }}</p>
                        </div>
                        <div class="text-center mt-4 d-flex justify-content-start">
                            <a href="{% url 'colaborador_list' %}" class="btn btn-danger w-40 mx-2">Voltar à lista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
