{% extends "base.html" %}

{% block conteudo %}
<div class="container mt-4">
    <h2>Gerenciamento de Contratos</h2>
    <a href="{% url 'contrato_create' %}" class="btn btn-primary mb-3">Adicionar Novo Contrato</a>
    <table class="table">
        <thead>
            <tr>
                <th>Número</th>
                <th>Data de Assinatura</th>
                <th>Data de Início</th>
                <th>Data de Fim</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for contrato in contratos %}
            <tr>
                <td>{{ contrato.numero_protocolo }}</td>
                <td>{{ contrato.data_assinatura }}</td>
                <td>{{ contrato.data_inicio }}</td>
                <td>{{ contrato.data_fim }}</td>
                <td>{{ contrato.valor_contrato }}</td>
                <td>
                    <a href="{% url 'contrato_update' contrato.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'contrato_delete' contrato.id %}" class="btn btn-danger btn-sm">Excluir</a>
                    <a href="{% url 'parcela_manage' contrato.id %}" class="btn btn-info btn-sm">Gerenciar Parcelas</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
