{% extends 'index.html' %}

{% block 'conteudo' %}
<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Lista de Coordenações</h4>
                        <a href="{% url 'coordenacao_create' %}" class="btn btn-success btn-sm">
                            <i class="fas fa-plus"></i> Adicionar Coordenação
                        </a>
                    </div>
                    <div class="card-body">
                        <form method="GET" action="{% url 'coordenacao_list' %}">
                            <div class="input-group mb-3">
                                <input type="text" id="searchInput" class="form-control" name="search" placeholder="Pesquisar por nome...">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </div>
                        </form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Gerência</th>
                                    <th>Nome</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody id="coordenacaoTable">
                                {% for coordenacao in coordenacoes %}
                                <tr>
                                    <td>{{ coordenacao.gerencia.nome }}</td>
                                    <td>{{ coordenacao.nome }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'coordenacao_update' coordenacao.pk %}" class="btn btn-warning btn-sm">Editar</a>
                                        <a href="{% url 'coordenacao_delete' coordenacao.pk %}" class="btn btn-danger btn-sm">Deletar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
